<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titre">Liste des plats insuffisants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ensemble">
  <ion-item-sliding class="slidingItem" *ngFor="let objectTemporaire of insuffisants">
    <ion-item-options side="start">
      <ion-item-option color="warning" style="color: white;" (click)="modification(objectTemporaire)" shape="round"><ion-icon name="create" slot="top" style="margin-bottom: 10%;font-size: 25px;"></ion-icon>Modifier</ion-item-option>
    </ion-item-options>
    <ion-item lines="none" class="itemDesign">
        <ion-label>
          <h2 style="color: white;font-size: 18px;">Numero : {{objectTemporaire.numeroCommande}}</h2>
          <ion-row>
            <ion-col size="5" style="text-align: left;color: yellow;font-size: 13px;">Nombre : {{objectTemporaire.nombreDeProduit}}</ion-col>
            <ion-col size="7" style="text-align: right;color: yellow;font-size: 13px;">{{objectTemporaire.dateInsuffisant}}</ion-col>
          </ion-row>
        </ion-label>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="supprimerInsuffisant(objectTemporaire)" shape="round"> <ion-icon name="trash" slot="top" style="margin-bottom: 10%;font-size: 25px;"></ion-icon> Supprimer</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</div>
</ion-content>
