ion-content{
  --ion-background-color:linear-gradient(rgba(0,168,255,0.5), rgba(185,0,255,0.5));
  background-image: url('../../assets/fond.jpg');
  background-position: center;
  background-size: cover;
}
ion-toolbar{
  --ion-background-color:-moz-linear-gradient(bottom, rgba(0,168,255,0.5), rgba(185,0,255,0.5))!important;
}
.itemDesign{
  width: 98%;
  --ion-background-color: #6460609e;
  border-radius: 12px;
  margin: 1%;
}
.ensemble{
  padding-top: 3%;
  height: 90%;
  overflow-y: scroll;
}