ion-content{
    --ion-background-color:linear-gradient(rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background-image: url('../../assets/fond.jpg');
    background-position: center;
    background-size: cover;
  }
  ion-toolbar{
    --ion-background-color:-moz-linear-gradient(bottom, rgba(0,168,255,0.5), rgba(185,0,255,0.5))!important;
  }
.titre{
    color: white;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.itemPlats{
    --ion-background-color:transparent;
}
.plats{
    background-color:rgba(117, 61, 12, 0.5);
    background-color: rgba(117, 61, 12, 0.5);
    margin: 1%;
    border-radius: 12px;
    padding: 2%;
}
.ajout{
    width: 100%;
    height: 5%;
}
.ensembleDesPlats{
    border-radius: 12px;
    margin: 2%;
    height: 70%;
    overflow-y: scroll;
}
.informationPlats{
    border-radius: 12px;
    margin: 2%;
    padding: 2%;
    height: 15%;
    width: 96%;
    background-color: #ffffff82;
}
.infoPlats{
    --ion-background-color:transparent;
    font-size: 12px;
}
.itemPlats{
    width: 96%;
    margin: 2%;
    border-radius: 12px;
    --ion-background-color: #00000078;
}