<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ionic Storage CRUD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="saveProduit()" expand="block" shape="round" color="primary">Save data</ion-button>
  <ion-button (click)="loadProduit()" expand="block" shape="round" color="primary">Load data</ion-button>
  <ion-list *ngFor="let item of produit">
    <ion-label>{{item.nomProduit}}</ion-label>
  </ion-list>
</ion-content>
