<!--new-->

<ion-content>
  <div class="padding">
  
    <div class="logo">
      <img src="../../assets/logo2.png" >
    </div>
  
    <ion-item>
      <ion-label color="light" style="font-size: 30px;"><ion-icon name="person-outline"></ion-icon></ion-label>
      <ion-input color="light" [(ngModel)]="utilisateur" type="text" placeholder="Nom d'utilisateur"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label color="light" style="font-size: 30px;"><ion-icon name="lock-closed-outline"></ion-icon> </ion-label>
      <ion-input color="light" [(ngModel)]="passwords" type="password" placeholder="Mot de passe"></ion-input>
    </ion-item>
  
    <ion-item lines="none">
      <ion-button slot="end" fill="clear" (click)="motDePasseOublier()" color="light">Mot de passe oublié ?</ion-button>
    </ion-item>
  
    <ion-button shape="round" (click)="login()" color="primary" expand="block" >Connexion</ion-button>
  
  </div>
  </ion-content>
  

<!--new-->