ion-content{
  --ion-background-color:linear-gradient(rgba(0,168,255,0.5), rgba(185,0,255,0.5));
  background-image: url('../../assets/fond.jpg');
  background-position: center;
  background-size: cover;
}
ion-item{
   --ion-background-color: transparent!important;
}

.padding{
   padding: 5%;
}
.logo{
   height: 250px;
   position: relative;
}
.logo ion-icon{
   position: absolute;
   font-size: 9em;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.logo img{
   position: absolute;
   height: 200px;
   border-radius: 50%;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}