<ion-header>
  <ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title class="titre">Nouvelle Commande</ion-title>
    </ion-toolbar>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <div class="contenu">
    <div>
      <h1 style="text-align: center;margin-top: 2%;color: white;">Ajout commande</h1>
    </div>
    <div style="margin-bottom: 2%;">
      <div class="textSelect">Numero table</div>
      <div>
        <select class="selectTable" [(ngModel)]="table">
          <option *ngFor="let tablesRestaurant of tablesRestaurants" value="{{tablesRestaurant.idTablesRestaurant}}">N°{{tablesRestaurant.numeroTables}}</option>
        </select>
      </div>
    </div>
    <div> 
      <ion-button expand="block" (click)="ajoutCommande()"><ion-icon slot="start" name="add-circle"></ion-icon>Ajouter</ion-button>
    </div>
</div>
<div><h2 style="text-align: center;color: white;">Liste des commandes</h2></div>
<div class="ensemble"> 
<!-- slice-->
  <ion-item-sliding *ngFor="let moncommande of mesCommandes" style="width: 94%;margin: 3%;padding: 0%;border-radius: 12px;"  >
    <ion-item-options side="start">
      <ion-item-option color="danger" (click)="supprimerCommande(moncommande.idCommande,moncommande.fermetureCommande)" shape="round">Supprimer</ion-item-option>
    </ion-item-options>
    <ion-item class="itemDesign" lines="none">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-label>
              <h3 style="color: white;">Numero : {{moncommande.numeroCommande}}</h3>
              <h4 style="color: #ffd534d1;">Table N°{{moncommande.idTablesRestaurant}}</h4>
              <h5 style="color: #ffd534d1;">{{moncommande.dateCommande}}</h5>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="supprimerCommande(moncommande.idCommande,moncommande.fermetureCommande)" shape="round">Supprimer</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

</div>
</ion-content>
