ion-content{
    --ion-background-color:linear-gradient(rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background-image: url('../../assets/fond.jpg');
    background-position: center;
    background-size: cover;
}
ion-toolbar{
    --ion-background-color:-moz-linear-gradient(bottom, rgba(0,168,255,0.5), rgba(185,0,255,0.5))!important;
}
.titre{
    color: white;
}
.selectTable{
    width: 100%;
    height: 40px;
    cursor: pointer;
    margin-left: 1%;
    margin-right: 2%;
    line-height: 1.25;
    color: black;
}
.textSelect{
    margin-left: 1.2%;
    color: white;
}
.contenu{
    width: 97%;
    margin-top: 5%;
    margin: auto;
    margin-top: 5%;
    border-radius: 12px;
}
.listeCommande{
    background-color: #92949c;
    color: white;
    border-radius: 20px;
    padding: 2%;
    margin-bottom: 2%;
}
.ensemble{
    margin-top: 2%;
    width: 97%;
    border-radius: 20px;
    margin: auto;
    margin-top: 2%;
    height: 65%;
    overflow-y: scroll;
    padding-top: 1%;
}
.boutonSupprimer{
    font-size: 50px;
    background-color: #eb445a;
    color: white;
    border-radius: 12px;
    padding: 1%;
}
.itemDesign{
    border-radius: 12px;
    --ion-background-color:rgba(34, 32, 30, 0.72);
}