<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="plats"></ion-back-button>
    </ion-buttons>
    <ion-title class="titre">Liste des plats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="informationPlats">
    <div>
      <ion-row>
        <ion-col size="5" class="ion-text-left textConfirmation">Etat : 
          <span *ngIf="commande.fermetureCommande==1" >
            non validé
          </span>
          <span *ngIf="commande.fermetureCommande==11" >
            validé
          </span>
        </ion-col>
        <ion-col size="7" class="ion-text-right textConfirmation">Cuisine : 
          <span *ngIf="commande.etatCommande==1" >
            non validé
          </span>
          <span *ngIf="commande.etatCommande==11 || commande.etatCommande==22" >
            validé
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" class="ion-text-left textConfirmation">Table N°: {{commande.numeroTables}}</ion-col>
        <ion-col size="8" class="ion-text-right textConfirmation">{{commande.dateCommande}}</ion-col>
      </ion-row>
    </div>
  </div>
  <div class="ensembleDesPlats">
    <div class="plats" *ngFor="let commandeParTable of commandeParTables">
      <ion-item lines="none" class="itemPlats">
        <ion-avatar slot="start">
          <img src="{{commandeParTable.nomImage}}" />
        </ion-avatar>
        <ion-label>
          <h2 style="color: yellowgreen;">{{commandeParTable.nomProduit}}</h2>
          <ion-text color="light">
            <h5>Categorie: {{commandeParTable.categorie}}</h5>
            <h6>Prix Unitaire: {{commandeParTable.prixUnitaire | number }} Ariary</h6>
            <h6>Prix total: {{commandeParTable.nombreDeProduit * commandeParTable.prixUnitaire | number }} Ariary</h6>
          </ion-text>
        </ion-label>
      </ion-item>
      <div class="flex">
        <ion-button style="width: 50%;" (click)="chargerQuantite(commandeParTable.idCommandeTable)" shape="round" color="medium">Quantite: {{commandeParTable.nombreDeProduit}}</ion-button>
        <ion-button style="width: 50%;" color="danger" shape="round" class="delete" (click)="deletePlatsCommande(commandeParTable)"> <ion-icon name="trash"></ion-icon> </ion-button>
      </div>
    </div>
</div>
</ion-content>
