ion-content{
    --ion-background-color:linear-gradient(rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background-image: url('../../assets/fond.jpg');
    background-position: center;
    background-size: cover;
  }
  ion-toolbar{
    --ion-background-color:-moz-linear-gradient(bottom, rgba(0,168,255,0.5), rgba(185,0,255,0.5))!important;
  }
.titre{
    color: white;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.itemPlats{
    --ion-background-color:transparent;
}
.textConfirmation{
    font-size: 15px;
}
.plats{
    background-color: rgba(28, 27, 27, 0.5);
    margin: 1%;
    border-radius: 12px;
    padding: 2%;
}
.ensembleDesPlats{
    border-radius: 12px;
    margin: 2%;
    height: 78%;
    overflow-y: scroll;
    width: 96%;
}
.informationPlats{
    border-radius: 12px;
    margin: 2%;
    padding: 2%;
    height: 12%;
    background-color: #ffffff8c;
}
.infoPlats{
    --ion-background-color:transparent;
    font-size: 12px;
}