ion-content{
    --ion-background-color:linear-gradient(rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background-image: url('../../assets/fond.jpg');
    background-position: center;
    background-size: cover;
}
ion-toolbar{
    --ion-background-color:-moz-linear-gradient(bottom, rgba(0,168,255,0.5), rgba(185,0,255,0.5))!important;
}
.titre{
    color: white;
}
.tabs{
    --ion-background-color:-moz-linear-gradient(top, rgba(0,168,255,0.5), rgba(185,0,255,0.5))!important;
   
}
.tabButton{
    color: white;
}
.info{
    color: #2a479f;
}
.slidingItem{
    --ion-background-color:#2f2c2cad;
    border-radius: 12px;
    margin: 1%;
}
.ensembleCommande{
    --ion-background-color:transparent;
    border: 2px solid #645525;
    border-radius: 12px;
    padding: 2%;
    margin: 1%;
    height: 90%;
    overflow-y: scroll;
}
.texts{
    color: #faffffb3;
}