<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button  color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titre">Liste des commandes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ensembleCommande" >

    <ion-item-sliding class="slidingItem" *ngFor="let commandes of commandeTemporaire">
      <ion-item-options side="start">
        <ion-item-option color="success" (click)="valider(commandes.numeroCommande)" shape="round"><ion-icon name="checkmark-circle-outline" style="font-size: 25px;margin-bottom: 10%;" slot="top"></ion-icon>Validé</ion-item-option>
        <ion-item-option color="warning" (click)="voirDetail(commandes)" shape="round"><ion-icon  name="eye-outline" slot="top" style="font-size: 25px;margin-bottom: 10%;"></ion-icon>Voir</ion-item-option>
      </ion-item-options>
      <ion-item lines="none" style="width: 100%;">
          <ion-label>
            <h2 style="color: white;">Numero : {{commandes.numeroCommande}}</h2>
            <p class="ion-text-left texts">Table N°:{{commandes.numeroTables}}</p>
            <p class="ion-text-left texts" >Etat : 
              <span *ngIf="commandes.fermetureCommande==1" >
                non validé
              </span>
              <span *ngIf="commandes.fermetureCommande==11" >
                validé
              </span>
            </p>
            <p class="ion-text-left texts" >Cuisine : 
              <span *ngIf="commandes.etatCommande==1" >
                non validé
              </span>
              <span *ngIf="commandes.etatCommande==11 || commandes.etatCommande==22" >
                validé
              </span></p>
            <p class="ion-text-left texts" >{{commandes.dateCommande}}</p>
  
          </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="supprimerCommande(commandes)" shape="round"><ion-icon slot="top" style="font-size: 25px;margin-bottom: 10%;" name="trash-outline"></ion-icon>Supprimer</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </div>

  <div>
    <ion-tabs class="tabs">
      <ion-tab-bar slot="bottom">
        <ion-tab-button class="tabButton" (click)="tabClick('valider')">
          <ion-icon name="checkmark-done-outline"></ion-icon>
          <ion-label>Validés</ion-label>
        </ion-tab-button>
        <ion-tab-button class="tabButton" (click)="tabClick('tous')">
          <ion-icon name="reload-circle-outline"></ion-icon>
          <ion-label>Tous</ion-label>
        </ion-tab-button>
        <ion-tab-button class="tabButton" (click)="tabClick('nonvalider')">
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>Non validés</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
      
    </ion-tabs>
  </div>
</ion-content>


<!--news-->