<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titre">Mon compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="information">
    <p>Nom : {{informationUtilisateur.nom}}</p>
    <p>Etat : 
      <span *ngIf="informationUtilisateur.etat==1">Serveur ou serveuse</span>
      <span *ngIf="informationUtilisateur.etat==2">Caissier ou caissiére</span>
      <span *ngIf="informationUtilisateur.etat==3">Administrateur</span>
    </p>
    <p>Mot de passe : {{informationUtilisateur.motDePasse }}</p>
    <p>Date d'ajout  : {{informationUtilisateur.date}}</p>
    <ion-button expand="block" color="tertiary" (click)="showModification()" ><ion-icon slot="start" name="{{textIconModification}}"></ion-icon> {{textButtonModification}}</ion-button>
  </div>
  <div class="modification" *ngIf="showModificationTemporaire==true">
    <ion-item lines="none">
      <ion-label>Nom :</ion-label>
      <ion-input type="text" placeholder="Votre nom" [(ngModel)]="nom" ></ion-input>
      <ion-checkbox [(ngModel)]="check" (click)="oncheck()"></ion-checkbox>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Mot de passe :</ion-label>
      <ion-input type="password" [(ngModel)]="motDePasseActuel" placeholder="Votre mot de passe"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Nouveau :</ion-label>
      <ion-input type="password" (ionInput)="setToDynamiqueMotDepasse($event)" placeholder="Nouveau mot de passe"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Confirmation :</ion-label>
      <ion-input type="password" (ionInput)="confirmationMotDePasse($event)" placeholder="Confirmez votre mot de passe"></ion-input>
    </ion-item>
    <div>
      <label style="font-size: 14px;color: #2d27ec;"><p style="text-align: center;">{{textCheck}}</p></label>
      <label style="font-size: 14px;color: red;" id="textMDP"><p style="text-align: center;">{{textMotDePasse}}</p></label>
      <label style="font-size: 14px;color: red;" id="textConfirmation"><p style="text-align: center;">{{textConfirmation}}</p></label>
    </div>
    <ion-button expand="block" color="warning" disabled="true" (click)="modificationUtilisateur()" id="bouton"><ion-icon name="create" slot="start"></ion-icon>Modifier</ion-button>
  </div>
</ion-content>
