<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titre">Preparation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ensemble">
    <div *ngFor="let preparation of preparations" class="commandePret" >
      <ion-row>
        <ion-col size="9" class="ion-text-left">N°: {{preparation.numeroCommande}} </ion-col>
        <ion-col size="3" class="ion-text-right">Table N°{{preparation.numeroTables}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="ion-text-left">Quantite : {{preparation.nombreDePlats}} </ion-col>
        <ion-col size="6" class="ion-text-right"><span *ngIf="preparation.etatPreparation==11" >Prêt</span></ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
