ion-content{
    --ion-background-color:linear-gradient(rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background-image: url('../../assets/fond.jpg');
    background-position: center;
    background-size: cover;
}
ion-toolbar{
    --ion-background-color:-moz-linear-gradient(bottom, rgba(0,168,255,0.5), rgba(185,0,255,0.5))!important;
}
.titre{
    color: white;
}
.commandePret{
    width: 96%;
    margin: 2%;
    background-color: #00000082;
    color: #ffffffdb;
    font-size: 15px;
    border-radius: 12px;
    padding: 1%;
}
.ensemble{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: unset;
}