<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titre">Plats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="div1">
      <ion-button expand="block" color="light" shape="round" (click)="chargerCommande()">
        Numero : {{numeroCommande}}
      </ion-button>
      <ion-searchbar class="recherche" color="light" (ionInput)="getRechercheProduit($event)" placeholder="Recherche plats"  type="text"  showCancelButton="250"></ion-searchbar>
    </div>
    <div class="div2">
      <div class="ensemblePlats" *ngFor="let newPlats of items ;let i=index;" >
        <ion-item class="plats" lines="none">
          <ion-avatar slot="start">
            <img src="{{newPlats.imageInBase64}}" />
          </ion-avatar>
          <ion-label>
            <h2 style="color: #f8faff;">{{newPlats.nomProduit}}</h2>
            <p color="medium" >Categorie: {{newPlats.idCategorie}}</p>
            <p>Prix unitaire: {{newPlats.prixUnitaire | number}} Ariary</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none" class="buttonPlats">
          <div class="boxPlats">
            <div style="width: 100px;">
              <ion-row>
                <ion-col size="6" style="padding: 2%;margin-top: -12%;">
                  <p style="color: #fff;">Qt : </p>
                </ion-col>
                <ion-col size="6" style="padding: 2%;">
                  <select placeholder="Quantite" class="selecte" id="selection{{i}}">
                    <option *ngFor="let item of [].constructor(newPlats.quantite); let a = index"  (click)="modificationTotal(i,(a+1),newPlats.prixUnitaire)"  value="{{a+1}}">{{a+1}}</option>
                </select>
                </ion-col>
              </ion-row>
            </div>
            <div style="padding: 2%;">
              <ion-label class="ion-text-right totalPrix" style="color: #fff;"><span id="total{{i}}">Total : {{newPlats.prixUnitaire | number}}</span> Ariary</ion-label>
            </div>
          </div>
        </ion-item>
        <div class="boutonAjouter">
          <ion-button expand="block" (click)="ajoutCommande(newPlats.idProduit,newPlats.prixUnitaire,i)" shape="round">Ajouter au commande actuel</ion-button>
        </div>
    </div>
  
    </div>
  
  
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" ><ion-icon name="add-outline"></ion-icon></ion-fab-button>
  
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="voirDetail()"><ion-icon name="eye-outline"></ion-icon></ion-fab-button>
      <ion-fab-button color="primary" (click)="changeCategorie()"><ion-icon name="search"></ion-icon></ion-fab-button>
    </ion-fab-list>
  
  </ion-fab>
    
</ion-content>