ion-content{
    --ion-background-color:linear-gradient(rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background-image: url('../../assets/fond.jpg');
    background-position: center;
    background-size: cover;
}
ion-toolbar{
    --ion-background-color:-moz-linear-gradient(bottom, rgba(0,168,255,0.5), rgba(185,0,255,0.5))!important;
}
.titre{
    color: white;
}
.recherche{
    --ion-background-color:transparent;
    color:#000;
}
.div1{
    padding: 2%;
    border-radius: 12px;
    height: 20%;
    overflow: auto;
}
.div2{
    padding: 2%;
    border-radius: 12px;
    height: 70%;
    overflow-y: scroll;
}
.plats{
    --ion-background-color:transparent;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}
.plats p {
    color: #f7d10a;
    font-size: 13px;
}
.buttonPlats{
    --ion-background-color:transparent;
}
.boxPlats{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.totalPrix{
    font-size: 13px;
    color: #1a1095;
}
.boutonAjouter{
    --ion-background-color:transparent;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.ensemblePlats{
    background-color:rgba(66, 66, 66, 0.87);
    padding: 2%;
    border-radius: 12px;
    margin: 1%;
}
.selecte{
    background-color: transparent;
    color: white;
    width: 100%;
}
.selecte optgroup {
    color: black;
    width: 22px;
}
.delete{
    --ion-background-color:red;
    --border-color:red;
    --color:red;
    --background-hover:red;
}