ion-content{
    --ion-background-color:linear-gradient(rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background-image: url('../../assets/fond.jpg');
    background-position: center;
    background-size: cover;
  }
  ion-toolbar{
    --ion-background-color:-moz-linear-gradient(bottom, rgba(0,168,255,0.5), rgba(185,0,255,0.5))!important;
  }
.titre{
    color: white;
}
.ensemble{
    width: 96%;
    margin: 2%;
    background-color: #ffffff80;
    height: 60%;
    padding: 1%;
    border-radius: 12px;
}
ion-item{
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 12px;
}