<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="light">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title class="titre">Mot de passe oublier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ensemble">
      <h3></h3>
      <ion-item color="light">
        <ion-label>Nom :</ion-label>
        <ion-input type="text" [(ngModel)]="nom" placeholder="Nom d'utilisation"></ion-input>
      </ion-item>
      <ion-item color="light">
        <ion-label>Date d'ajout :</ion-label>
        <ion-input type="date" [(ngModel)]="dateAjout"></ion-input>
      </ion-item>
      <ion-item color="light">
        <ion-label>Nouveau :</ion-label>
        <ion-input type="password" (ionInput)="setToDynamiqueMotDepasse($event)" placeholder="Nouveau mot de passe"></ion-input>
      </ion-item>
      <ion-item color="light">
        <ion-label>Confirmation :</ion-label>
        <ion-input type="password" (ionInput)="confirmationMotDePasse($event)" placeholder="Confirmation mot de passe"></ion-input>
      </ion-item>
      <div>
        <label style="font-size: 14px;color: red;" id="textMDP"><p style="text-align: center;">{{textMotDePasse}}</p></label>
        <label style="font-size: 14px;color: red;" id="textConfirmation"><p style="text-align: center;">{{textConfirmation}}</p></label>
      </div>
      <ion-button expand="block" disabled="true" (click)="modificationMotDePasse()" id="bouton">Modifier le mot de passe</ion-button>
    </div>
</ion-content>
