<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="changeEtatCommandeEnNonValider()">
      <ion-back-button defaultHref="insuffisant"></ion-back-button>
    </ion-buttons>
    <ion-title>Modification des plats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ajout">
    <ion-button expand="block" (click)="ajouterPlats()" shape="round"><ion-icon name="add-circle" slot="start"></ion-icon>Ajouter une plats</ion-button>
  </div>
  <div class="entete">
    <ion-row>
      <ion-col size="8" class="ion-text-left">N°: {{insuffisant.numeroCommande}}</ion-col>
      <ion-col size="4" class="ion-text-right">Nombre: {{insuffisant.nombreDeProduit}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-left">
        {{insuffisant.dateInsuffisant}}
      </ion-col>
    </ion-row>
  </div>
  <div class="bodyModification">
    <div *ngFor="let commandeParTable of commandeParTables;let i=index;">
      <ion-item lines="none" class="itemPlats">
        <ion-avatar slot="start">
          <img src="{{commandeParTable.nomImage}}" />
        </ion-avatar>
        <ion-label>
          <h2 style="color: yellowgreen;">{{commandeParTable.nomProduit}}</h2>
          <ion-text color="dark">
            <h5 style="color: #ffffffc7;">Categorie: {{commandeParTable.categorie}}</h5>
            <h6 style="color: #ffffffc7;">Prix Unitaire: {{commandeParTable.prixUnitaire | number }} Ariary</h6>
            <h6 style="color: #ffffffc7;">Prix total: <span id="total{{i}}">{{commandeParTable.nombreDeProduit * commandeParTable.prixUnitaire | number }}</span> Ariary</h6>
          </ion-text>
          <ion-row>
            <ion-col size="6" style="color: white;">
              Qt : <span *ngIf="commandeParTable.nombreDeProduit > commandeParTable.quantite">
                <input  name="nom{{i}}" type="text" value="{{commandeParTable.nombreDeProduit}}" disabled  style="width: 60%;height: 30px;color: red;">
              </span>
              <span *ngIf="commandeParTable.nombreDeProduit <= commandeParTable.quantite">
                <input  name="nom{{i}}" type="text" value="{{commandeParTable.nombreDeProduit}}" disabled  style="width: 60%;height: 30px;color: black;">
              </span>
            </ion-col>
            <ion-col size="6">
              <select style="width: 60%;height: 30px;" id="selection{{i}}">
                <option *ngFor="let item of [].constructor(commandeParTable.quantite); let a = index" (click)="modificationTotal(i,commandeParTable.prixUnitaire,(a+1))" >{{a+1}}</option>
              </select>
            </ion-col>
          </ion-row>
          <div class="flex">
            <ion-button style="width: 45%;" shape="round" color="warning" (click)="modificationCommandeParTable(commandeParTable,i)" >Modifier <ion-icon name="create" slot="end"></ion-icon></ion-button>
            <ion-button style="width: 45%;" color="danger" shape="round" (click)="supprimerCommandeParPlats(commandeParTable)" class="delete"> <ion-icon name="trash"></ion-icon> </ion-button>
          </div>
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>
