ion-content{
    --ion-background-color:linear-gradient(rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background-image: url('../../assets/fond.jpg');
    background-position: center;
    background-size: cover;
  }
  ion-toolbar{
    --ion-background-color:-moz-linear-gradient(bottom, rgba(0,168,255,0.5), rgba(185,0,255,0.5))!important;
  }
  .ajout{
    width: 100%;
    height: 5%;
  }
  .entete{
    background-color: #ffffffa8;
    width: 96%;
    height: 10%;
    border-radius: 12px;
    margin: 2%;
  }
  .bodyModification{
    width: 100%;
    height: 75%;
    overflow-y: scroll;
    overflow-x: unset;
  }
  .itemPlats{
    width: 96%;
    margin: 2%;
    border-radius: 12px;
    --ion-background-color: #00000078;
  }